.widget-search-results {
  @extend .container;
  padding: 10px;
  width: 100%;
  background-color: white;

  .widget-search-results__column {
    text-align: center;
  }

  &.widget-search-results-4 .widget-search-results__column {
    @include make-xs-column(1);
    width: 25%;
  }

  &.widget-search-results-5 .widget-search-results__column {
    @include make-xs-column(1);
    width: 20%;
  }

  &.widget-search-results-6 .widget-search-results__column {
    @include make-xs-column(1);
    width: 16%;
  }

  &.widget-search-results-7 .widget-search-results__column {
    @include make-xs-column(1);
    width: 14%;
  }

  .widget-search-results__row {
    @include make-row();
    padding: 15px 0;
    margin: 0 -10px;
    border-top: 1px solid #e0e0e0;

    &:nth-of-type(odd) {
      background: $color-grey_03;
    }

    &.widget-search-results__header {
      font-weight: bold;
      font-size: $font-xs;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-top: none;
      background: none;
    }

    &.widget-search-results__row-empty {
      padding: 20px;
    }

    .widget-search-results__column {
      border-left: 1px solid $color-grey_02;

      &:nth-child(1) {
        border-left: none;
      }

      &.widget-search-results__column-actions button {
        @extend .btn-grey;
      }
    }
  }

  &#page-search-questionnaire__results {
    .widget-search-results__column:nth-child(1) {
      width: 5%;
    }
    .widget-search-results__column:nth-child(2) {
      width: 10%;
    }
    .widget-search-results__column:nth-child(3) {
      text-align: left;
      width: 32%;
    }
    .widget-search-results__header .widget-search-results__column:nth-child(3) {
      text-align: center;
    }
    .widget-search-results__column:nth-child(7) {
      width: 9%;
    }
  }

  &.widget-search-codes-lists__results {
    .widget-search-results__column:nth-child(1) {
      width: 6%;
    }
    .widget-search-results__column:nth-child(2) {
      text-align: left;
      width: 54%;
    }
    .widget-search-results__header .widget-search-results__column:nth-child(2) {
      text-align: center;
    }
    .widget-search-results__column:nth-child(4) {
      width: 15%;
    }
  }
}
