.widget-search-codes-lists {
  .widget-search-codes-lists__results {
    .widget-search-results__column:nth-child(1) {
      width: 6%;
    }
    .widget-search-results__column:nth-child(2) {
      text-align: left;
      width: 54%;
    }
    .widget-search-results__header .widget-search-results__column:nth-child(2) {
      text-align: center;
    }
    .widget-search-results__column:nth-child(4) {
      width: 15%;
    }
  }

  .widget-search-codes-lists__search {
    @include make-row();

    .widget-statistical-context-criteria-horizontal {
      @include make-xs-column(4);

      .ctrl-select {
        width: 100%;
      }
    }

    .widget-input-filter-with-criteria {
      @include make-xs-column(8);
      .widget-input-filter-with-criteria__panel {
        label + div,
        > label {
          width: 100%;
          padding-left: 0;
        }

        input {
          width: 100%;
        }
      }

      button {
        margin-top: 27px;
        width: auto;
      }
    }
  }
}
