.arbo-simplifield {
    overflow: hidden;
    list-style-type: none;
    padding-left: 10%;

    li {
        padding: 2px 0;
    }

    .glyphicon {
        margin-right: 5px;
    }

    .questions {
        margin-left: 20px;
    }
}