.declarations-box {
    display: flex;
    flex-flow: row wrap;

    & > *{
        flex: 0 0 50%;
    }

    ul {
        list-style: none;
    }
    .declaration-actions {
        flex-grow: 1;
        margin-top: 20px;

        ul {
            padding: 0;
            margin: 0;
        }
        button {
            width: 120px;
        }
        li {
            float: right;
        }
    }

    .ctrl-selec .ctrl-with-add-new label + div, .ctrl-select label + div, .ctrl-input label + div {
        width: 70%;
    }

    textarea {
        float: right;
        width: 100%;
    }
}
