.ctrl-select-with-add-new, .ctrl-select, .ctrl-input, .ctrl-list-radios-buttons, .ctrl-checkbox, .ctrl-tree-select {
  @extend .form-group;
  @include make-row();

  & > label {
    @include make-xs-column(3);
  }
}


.ctrl-select-with-add-new, .ctrl-select, .ctrl-input, .ctrl-checkbox, .ctrl-tree-select {
  label + div {
    @include make-xs-column(6);

    select, input[type="text"], input[type="number"] {
      @extend .form-control;
    }
  }
}

.ctrl-select-with-add-new .form-actions {
  @include make-xs-column(3);

  button {
    margin: 0 10px;
  }
}

.ctrl-list-radios-buttons {
  label + div {
    @include make-xs-column(9);

    .form-check-inline {
      display: inline-block;
      position: relative;
      margin-bottom: .5rem;
      margin-right: 15px;

      label {
        display: inline-block;
        vertical-align: middle;
        padding-left: 1.25rem;
        margin-bottom: 0;
        cursor: pointer;
        font-weight: normal;

        input {
          position: absolute;
          margin-top: .25rem;
          margin-left: -1.25rem;
          margin-right: 10px;

          &:only-child {
            position: static;
          }
        }
      }
    }
  }
}

.rich-textarea-toolbox {
  display: inline;
  li {
    float: left;
  }
}

.form-check-label > input[type=checkbox]{
  margin-right: 10px;
}

.ctrl-tree-select {
  label + div {
    padding-left: 15px;
    padding-right: 15px;

    ul {
      max-height: 120px;
      background-color: white;
      border: 1px solid rgb(204, 204, 204);
      overflow-y: scroll;

      li {
        padding: 3px 15px;

        &:hover {
          cursor: pointer;
        }

        &.disabled {
          color: grey;
          cursor: default;
        }

        &.selected {
          background-color: #0f417a;
          color: white;
        }
      }

    }
  }
}
