#page-questionnaire {
  @extend .container;

  #questionnaire {
    @include make-xs-column(10);
    margin-top: 20px;
    margin-bottom: 80px;
    padding-top: 20px;
    border: 1px solid $color-grey_02;
    border-radius: 5px;
    background-color: white;

    #questionnaire-head {
      @include make-row();

      h4 {
        @include make-xs-column(7);
        color: $color-blue_02;
      }

      div {
        @include make-xs-column(5);
        text-align: right;
        float: right;
        button {
          margin: 5px 5px 0 0;
        }
      }
    }

    #questionnaire-items {
      @include container-fixed;

      .questionnaire-element {
        margin-left: 20px;
      }

      .questionnaire-element-drop-zone {
        border: 4px dashed #616366;
        color: #616366;
        font-weight: normal;
        margin: 10px 0 10px 5px;
        cursor: pointer;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: row;
        padding: 10px 15px 10px 15px;
      }

      .questionnaire-element .questionnaire-element-info {
        @include make-row();
        border: 1px solid $color-grey_02;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: row;

        .questionnaire-element-name {
          @include make-xs-column(2);
          padding: 10px;
          text-align: center;
          text-transform: uppercase;
          background-color: $color-grey_03;
          display: flex;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;
        }

        .questionnaire-element-body {
          @include make-xs-column(10);
          border-left: 1px solid $color-grey_02;
          padding: 0;
          > div {
            @include make-xs-column(12);
          }
        }

        .questionnaire-element-errors ul {
          list-style: none;
          padding: 10px 20px;

          li {
            font-size: $font-xs;
            padding-bottom: 5px;
            color: lighten(red, 20%);
            .alert-icon {
              display: inline-block;
            }
          }
        }

        .questionnaire-element-label {
          @include make-xs-column(10);
          padding: 10px;
        }
      }

      .questionnaire-element.selected > .questionnaire-element-info {
        .questionnaire-element-name {
          color: white;
        }

        .questionnaire-element-label {
          @include make-xs-column(4);
        }

        .questionnaire-element-actions {
          @include make-xs-column(8);
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: center;
          a,
          button {
            margin: 5px 5px 2px 2px;
          }
        }
      }

      .questionnaire-element.questionnaire-sequence {
        & > .questionnaire-element-info {
          color: $color-blue_01;
          font-weight: bold;
        }
        &.selected > .questionnaire-element-info {
          border-color: $color-blue_01;

          .questionnaire-element-name {
            background-color: $color-blue_01;
          }
        }
      }

      .questionnaire-element.questionnaire-external-element {
        & > .questionnaire-element-info {
          color: #e7a10b;
          font-weight: bold;
        }
        &.selected > .questionnaire-element-info {
          border-color: #e7a10b;

          .questionnaire-element-name {
            background-color: #e7a10b;
          }

          .questionnaire-element-body
            .questionnaire-elements
            .questionnaire-element-actions
            .btn-yellow {
            color: black;
          }
        }
      }

      .questionnaire-element.questionnaire-subsequence {
        & > .questionnaire-element-info {
          color: $color-blue_02;
        }

        &.selected > .questionnaire-element-info {
          border-color: $color-blue_02;

          .questionnaire-element-name {
            background-color: $color-blue_02;
          }
        }
      }

      .questionnaire-element.questionnaire-question.selected
        > .questionnaire-element-info {
        border-color: $color-grey_01;

        .questionnaire-element-name {
          background-color: $color-grey_01;
        }
      }
    }
  }
}

div.separator {
  display: flex;
  hr {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
    width: 95%;
  }
  button {
    border: none;
    background-color: transparent;
  }
}
