#page-home {
  @extend .container;
  & > h1 {
    color: $color-blue_01;
    padding: 40px 30px;
    background-color: $color-blue_03;
    background-image: url('/images/logo-insee-bg.png');
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .home-questionnaires {
    @include make-xs-column(9);
    min-height: 425px;
  }

  .home-sidebar {
    @include make-xs-column(3);

    h3 {
      text-align: center;
    }

    ul.menu-navigation {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 20px;

        button,
        a {
          width: 100%;

          &#questionnaires-team,
          &#questionnaires-insee {
            background-repeat: no-repeat;
            background-size: 79px auto;
          }

          &#questionnaires-team {
            background-image: url('/images/population.png');
          }

          &#questionnaires-insee {
            background-image: url('/images/population.png');
          }
        }
      }
    }
  }

  .box {
    margin-bottom: 40px;
  }
}
