#page-questionnaire {
  @extend .container;

  #questionnaire-nav {
    @include make-xs-column(2);
  }

  #questionnaire {
    @include make-xs-column(10);
    margin-top: 20px;
    margin-bottom: 80px;
    padding-top: 20px;
    border: 1px solid $color-grey_02;
    border-radius: 5px;
    background-color: white;

    #questionnaire-head {
      @include make-row();

      h4 {
        @include make-xs-column(10);
        color: $color-blue_02;
      }

      div {
        @include make-xs-column(2);
        text-align: center;
      }
    }

    #questionnaire-items {
      @include container-fixed;

      & > .questionnaire-element {
        @include make-row();

        .questionnaire-element-name, .questionnaire-element-label {
          font-weight: bold;
        }

        .questionnaire-element {
          @include make-row();
          margin-left: 20px;
          .questionnaire-element-name, .questionnaire-element-label {
            font-weight: normal;
          }
        }
      }

      .questionnaire-element {
        .questionnaire-element-info {
          @include make-row();
          border: 1px solid $color-grey_02;
          margin-top: 10px;
          margin-bottom: 10px;
          color: $color-blue_01;
          cursor: pointer;

          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: row;

          .questionnaire-element-name {
            @include make-xs-column(2);
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            background-color: $color-grey_03;
            display: flex;
            justify-content: center;
            flex-direction: column;
          }

          .questionnaire-element-label {
            @include make-xs-column(10);
            border-left: 1px solid $color-grey_02;
            padding: 10px;
          }
        }

        &.selected > .questionnaire-element-info {
          border-color: $color-blue_01;

          .questionnaire-element-name {
            background-color: $color-blue_01;
            color: white;
          }

          .questionnaire-element-label {
            @include make-xs-column(5);
          }

          .questionnaire-element-actions {
            @include make-xs-column(5, 0px);
            text-align: right;
            button {
              margin: 5px  5px 0 0;
            }
          }
        }

        .questionnaire-element {
          .questionnaire-element-info {
            color: $color-blue_02;
            font-weight: normal;
          }
          &.selected > .questionnaire-element-info {
            border-color: $color-blue_02;

            .questionnaire-element-name {
              background-color: $color-blue_02;
            }

            .questionnaire-element-label {
              @include make-xs-column(5);
            }

            .questionnaire-element-actions {
              @include make-xs-column(5, 0px);
            }
          }
          .questionnaire-element {
            .questionnaire-element-info {
              color: black;
            }
            &.selected > .questionnaire-element-info {
              border-color: $color-grey_01;

              .questionnaire-element-name {
                background-color: $color-grey_01;
                color: white;
              }

              .questionnaire-element-label {
                @include make-xs-column(5);
              }

              .questionnaire-element-actions {
                @include make-xs-column(5, 0px);
              }
            }
          }
        }
      }

      .questionnaire-sequence {
        @include container-fixed;
      }

      .question.questionnaire-element-info {
        margin-right: 0px;

        .questionnaire-element-name {
          text-transform: lowercase;
        }
      }
    }
  }

  #questionnaire-generic-input {
    position: fixed;
    width: inherit;
    z-index: 100;
    text-align: center;
    bottom: 20px;
    background-color: white;
    border: 1px solid $color-grey_02;
    font-size: $font-xs;

    button {
      font-size: $font-xs;
      margin: 10px;
    }

    body.ReactModal__Body--open & {
      z-index: -100;
    }
  }
}
