#questionnaire-list {
  .questionnaire-list_header,
  .questionnaire-list_item {
    @include make-row();
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: row;
  }
  .ctrl-input {
    margin: 0 0 10px;

    input {
      width: 40%;
      line-height: 30px;
    }
  }
  .questionnaire-list_header {
    font-weight: bold;
    font-size: $font-xs;
    margin-bottom: 10px;
  }

  .questionnaire-list_item {
    padding: 15px 0;
    border-top: 1px solid $color-grey_02;

    a {
      color: $color-grey_01;
      position: relative;
      display: inline-block;
    }

    div:nth-child(1) .glyphicon {
      position: absolute;
      left: 0;
      top: 5px;
      font-size: 0.7em;
    }

    &:nth-of-type(even) {
      background: $color-grey_03;
    }
  }

  .questionnaire-list_header div,
  .questionnaire-list_item div {
    border-left: 1px solid $color-grey_02;
  }

  .questionnaire-list_header div:nth-child(1),
  .questionnaire-list_item div:nth-child(1) {
    margin-left: 15px;
    border-left: none;
  }

  .questionnaire-list_header div:nth-child(1),
  .questionnaire-list_item div:nth-child(1) {
    @include make-xs-column(7);
  }

  .questionnaire-list_header div:nth-child(2),
  .questionnaire-list_item div:nth-child(2) {
    @include make-xs-column(2);
    text-align: center;
  }

  .questionnaire-list_header div:nth-child(3),
  .questionnaire-list_item div:nth-child(3) {
    @include make-xs-column(3);
    text-align: center;
  }

  .questionnaire-list_item div:nth-child(1),
  .questionnaire-list_item div:nth-child(2) {
    color: $color-grey_01;
  }

  .questionnaire-list_item div:nth-child(3) {
    color: $color-blue_02;
  }
}
