#questionnaire-list {
  .questionnaire-list_header,
  .questionnaire-list_item {
    @include make-row();
  }

  .questionnaire-list_header {
    font-weight: bold;
    font-size: $font-xs;
    margin-bottom: 10px;
  }

  .questionnaire-list_item {
    padding: 10px 0;
  }

  .questionnaire-list_header div:nth-child(1),
  .questionnaire-list_item div:nth-child(1) {
    @include make-xs-column(7);
  }

  .questionnaire-list_header div:nth-child(2),
  .questionnaire-list_item div:nth-child(2) {
    @include make-xs-column(2);
    text-align: center;
  }

  .questionnaire-list_header div:nth-child(3),
  .questionnaire-list_item div:nth-child(3) {
    @include make-xs-column(3);
    text-align: center;
  }

  .questionnaire-list_item div:nth-child(1),
  .questionnaire-list_item div:nth-child(2) {
    color: $color-grey_01;
  }

  .questionnaire-list_item div:nth-child(3) {
    color: $color-blue_02;
  }
}
