.search-results {
  @extend .container;

  > div {
    @include make-row();
    padding: 15px 0;
    margin: 0 -10px;
    border-top: 1px solid #e0e0e0;

    > div {
      border-left: 1px solid $color-grey_02;
    }

    > div:nth-child(1) {
      border-left: none;
    }
  }

  > div:nth-of-type(odd) {
    background: $color-grey_03;
  }

  &.search-results-6 {
    > div > div {
      @include make-xs-column(2);
    }
  }

  &.search-results-7 {
    > div > div {
      @include make-xs-column(1);
      width: 14%;
    }
  }

  div.search-results__header {
    text-align: center ;
    font-weight: bold;
    font-size: $font-xs;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-top: none;
    background: none;
  }

  div.search-results__empty {
    padding: 20px;
  }
}
