build/
node_modules/
npm-debug.log
yarn-error.log
deploy-auth.json
_book
.DS_Store
.idea/
*.iml
/selenium-debug.log
screenshots/
coverage/
docs/stats.html
reports*
.history/*
.history*
.env.local
package-lock.json