.ctrl-input-autocomplete {
  @extend .ctrl;

  .ctrl-input-autocomplete__button-clear {
    padding-left: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 50;
    background-color: white;
    width: 95%;
    border: 1px solid grey;

    li {
      padding: 5px;
      cursor: pointer;
      &.active {
        background-color: $color-grey_03;
      }
      &:hover {
        background-color: $color-grey_03;
      }
    }
  }
}
