@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Open Sans Variable', sans-serif;
  }
  h1 {
    @apply text-4xl;
    @apply font-semibold;
  }
  h2 {
    @apply text-3xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-2xl;
    @apply font-semibold;
  }
}

body {
  background-color: #f7f7f7;
}

#latest-pogues {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 13em;
  margin: auto;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
