.outlook {
    background-color: rgba(255, 203, 0, 0.1);
    border-left: 6px solid rgba(255, 203, 0, 0.5);
}

.outlook.affix {
	top: 50px;
}

div.main {
	background-color: #BFF5E9;
}

div.gi-question input {
	background-color: #BFFBFF;
}

div.gi-sequence input {
	background-color: #FBBFBB;
}

input.generic {
	width: 500px;
}

span.error-message {
	margin-left: 10px;
	color: darksalmon;
	font-weight: bold;
}

.component {
  border-left: 3px solid #FFFFFF;
}

.edit {
	visibility : hidden;
}

.component:hover {
	border-left: 3px solid #56CDFC;
}

.component:hover + .edit {
	visibility : visible;
}

/* EDIT TEST */
.visible {
  visibility : visible;
}

.invisible {
  visibility : hidden;
}

.highlight {
	background-color: yellow;
}

.sequence-header:first-letter {
  color : #4183C4;
}

.question-header:first-letter {
  color : #6CC644;
}

.nav .active .active > a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}

.id {
  color: #555;
}

.active-question {
  border-width: 1px;
  border-style: solid;
  border-color: #BFFBFF;
}

.active-sequence {
  border-width: 1px;
  border-style: solid;
  border-color: #FBBFBB;
}

.list-group-item:hover {
  background-color: #EDEDED;
}