span.pogues-logo {
  font-family: 'Lobster', serif;
  font-size: 30px;
  color: #7F689D;
}

.outlook {
    background-color: #FFFCD7;
    border-left: 6px solid #E7E092;
}

.outlook.affix {
  top: 50px;
}

div.main {
  background-color: #BFF5E9;
}

div.gi-question input {
  background-color: #BFFBFF;
}

div.gi-sequence input {
  background-color: #FBBFBB;
}

input.generic {
  width: 500px;
}

span.error-message {
  margin-left: 10px;
  color: darksalmon;
  font-weight: bold;
}

.component {
  border-left: 3px solid #FFFFFF;
}

.edit {
  visibility : hidden;
}

.component:hover {
  border-left: 3px solid #56CDFC;
}

.component:hover + .edit {
  visibility : visible;
}

/* EDIT TEST */
.visible {
  visibility : visible;
}

.invisible {
  visibility : hidden;
}

.highlighted {
  background-color: lightgray;
}

.question-header {
  color: #A73B4E;
}

h1.sequence-header {
  color: #513179;
  display: inline-block;
}

h2.sequence-header {
  color: #684C8C;
  display: inline-block;
}

h3.sequence-header {
  color: #9785AD;
  display: inline-block;
}

h4.question-header {
  display: inline-block;
}

.nav .active .active > a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}

.id {
  color: #555;
}

.active-question {
  border-width: 1px;
  border-style: solid;
  border-color: #BFFBFF;
}

.active-sequence {
  border-width: 1px;
  border-style: solid;
  border-color: #FBBFBB;
}

.list-group-item:hover {
  background-color: #EDEDED;
}

.code input {
  border: none;
  border-bottom: solid #888 1px;
  border-radius: 0;
  box-shadow: none;
}
.code input:focus {
  border: none;
  border-bottom: solid #888 1px;
  border-radius: 0;
  box-shadow: none;
}

.tools-activator {
  display: none;
  margin-right: 5px;
  vertical-align: middle;
}

.tools-activator-container:hover > .tools-activator {
  display: inline-block;
}

.sequence {
  /*border-left: solid gray 1px;*/
  margin-left: 10px;
  padding-left: 5px;
}

.tools-activator > .fa {
  margin: 5px;
}


.placeholder {
  background: #999;
  /*text-align: center;*/
  text-align: right;
  padding-right: 5px;
}

.drag {
  font-style: italic;
  background: #aca;
  opacity: 0.5;
}

.integrity-entity-name {
    color: #a94442;
}

.integrity-messages > li {
  list-style-type: none;
}

.panel-btn {
  font-weight: normal;
  
}
