div.outlook {
    background-color: rgba(255, 203, 0, 0.1);
    border-left: 6px solid rgba(255, 203, 0, 0.5);
}

div.main {
	background-color: #BFF5E9;
}

div.gi-question input {
	background-color: #BFFBFF;
}

div.gi-sequence input {
	background-color: #FBBFBB;
}

input.generic {
	width: 500px;
}

span.error-list {
	margin-left: 10px;
	color: darksalmon;
	font-weight: bold;
}

.component {
  border-left: 3px solid #FFFFFF;
}

.edit {
	visibility : hidden;
}

.component:hover {
	border-left: 3px solid #56CDFC;
}

.component:hover + .edit {
	visibility : visible;
}

/* EDIT TEST */
.visible {
  visibility : visible;
}

.invisible {
  visibility : hidden;
}
