.widget-questionnaire-new-edit {
  .widget-questionnaire-new-edit__footer {
    @include make-row();
    display: flex;
    justify-content: center;

    button {
      @extend .btn;
      margin-left: 10px;
      margin-right: 10px;
      text-transform: uppercase;
      font-weight: bold;
      width: 175px;

      &.widget-questionnaire-new-edit__button-validate {
        @extend .btn-yellow;
      }

      &.widget-questionnaire-new-edit__button-cancel {
        background: none;
        float: left;
      }
    }
  }
}
