.input-condition-popover {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 350px;
  background: none #fdfdfd;
  background: linear-gradient(to bottom, #fdfdfd 0%,#f6f7f8 100%);
  border: 1px solid #999;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 4px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 10px;
    border: 5px solid transparent;
    border-bottom-color: #999;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -9px;
    left: 10px;
    border: 5px solid transparent;
    border-bottom-color: #fdfdfd;
  }

  .input-condition-popover__inner {
  }

  .input-condition-popover__condition {


    >div {
      display: inline-block;

      &:nth-child(1) {
        width: 90%;
      }
      &:nth-child(2) {
        width: 10%;
        text-align: center;
        span {
          top: -10px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .input-condition-popover__condition-input {
      display: block;
      height: 30px;
      background: none white;
      border: 1px solid #999;
      border-radius: 2px;
      box-sizing: border-box;
      padding: 2px 6px;
      font-family: inherit;
      font-size: inherit;
      line-height: 24px;
      margin-bottom: 5px;
    }
  }

  .input-condition-popover-button-group {
    margin-top: 5px;
  }
}
