#header {
  @extend .container-fluid;
  background-color: white;
  padding-bottom: 15px;

  @include headings() {
    padding: 0;
    margin: 0;
  }

  a,
  span {
    color: $color-grey_01;
    text-transform: uppercase;
  }

  #header-wrapper {
    @extend .container;

    .header-brand {
      @include make-xs-column(8, 0);
      .header-logo {
        text-align: center;
        @include make-xs-column(2, 0);
      }
      h2 {
        margin-top: 35px;
        @include make-xs-column(10);
      }
      h6 {
        @include make-xs-column(10);
      }
    }

    .header-help {
      @include make-xs-column(1);
      text-align: center;
      padding-top: 25px;
      font-weight: bold;

      span {
        font-size: $font-xl;
      }
    }

    .header-user {
      @include make-xs-column(3);
    }

    .pogues-version {
      margin-left: 5px;
      color: $color-grey_01;
      font-style: italic;
    }
  }
}
