// Global styles

body {
  font-size: $font-base !important;
  background-color: $color-white_01;
}

// Override Bootstrap styles

.container {
  max-width: none !important;
  width: min(1280px, 100%);
}

.modal-container {
  max-width: none !important;
  width: min(1280px, 100%);
}

// Common styles

a {
  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}
.box {
  background-color: white;
  border: 1px solid $color-grey_02;
  padding: 10px;
  margin: 10px 0;
  & > h3 {
    color: $color-blue_01;
  }
}

.row .no-float {
  display: table-cell;
  float: none;
}

// Button styles

.btn-yellow {
  @extend .btn;
  text-align: center;
  background-color: $color-yellow_01;
  border-radius: 0;

  &:hover {
    background-color: lighten($color-yellow_01, 20%);
  }
  &:disabled {
    background-color: #fceaa9;
    color: #5f5f5f;
  }

  strong {
    text-transform: uppercase;
  }

  .glyphicon {
    font-size: 0.8em;
    margin-left: 8px;
  }
}

.btn-blue {
  @extend .btn;
  color: white;
  background-color: $color-blue_02;
  border-radius: 0;
  position: relative;

  &:hover,
  &:active {
    color: $color-blue_02;
    background-color: white;
    border-color: $color-blue_02;
  }

  strong {
    font-size: $font-l;
    font-weight: normal;
  }

  .glyphicon {
    position: absolute;
    right: 5%;
    top: 45%;
  }
}

.btn-white {
  @extend .btn;
  text-align: center;
  background-color: white;
  border-radius: 0;
  border: 1px solid $color-grey_02;

  &:hover {
    background-color: darken(white, 20%);
  }

  &:disabled {
    color: #5f5f5f;
    border: none;
  }

  strong {
    text-transform: uppercase;
  }

  .glyphicon {
    font-size: 0.8em;
    margin-right: 8px;
  }
}

.btn-grey {
  @extend .btn;
  border-radius: 0;
  background-color: $color-grey_03;
  border: 1px solid $color-grey_02;

  &:hover {
    background-color: darken(white, 20%);
  }

  .glyphicon {
    font-size: 0.8em;
    margin: 0 8px;
  }
}

.btn-search {
  @extend .btn;
  background: none;
  background-image: url('/images/search-icon.png');
  background-repeat: no-repeat;
  color: $color-blue_02;
  font-size: $font-s;
  padding-left: 50px;
  line-height: 1.8em;
}

.btn-blue-search {
  @extend .btn-blue;
  font-size: $font-xs;
  text-align: left;
  padding: 18px 25px;

  &:hover,
  &:active {
    background-color: $color-yellow_01;
    color: $color-grey_01;
  }
}

// Modal/Pop-up styles

.popup {
  @extend .modal-container;
  margin: auto;

  .popup-header {
    @include make-row();
    text-transform: uppercase;
    color: $color-blue_02;

    h3 {
      @include make-xs-column(11);
      margin-top: 0;
    }

    button {
      @include make-xs-column(1);
      background: none;
      border: none;
      text-align: right;

      &:hover {
        color: darken($color-blue_02, 50%);
      }
    }
  }
}

.popup-notSaved {
  position: relative;
  top: 20%;
  left: 25%;
  border: 1px solid #cccccc;
  background: white;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 50%;
  text-align: center;
  height: 40%;
  .popup-header {
    @include make-row();
    text-transform: uppercase;
    color: $color-blue_02;
    margin-bottom: 15px;
    h3 {
      @include make-xs-column(11);
      margin-top: 0;
    }

    button {
      @include make-xs-column(1);
      background: none;
      border: none;
      text-align: right;

      &:hover {
        color: darken($color-blue_02, 50%);
      }
    }
  }
  .popup-notSaved-footer {
    @include make-row();
    text-align: center;
    max-width: 60%;
    margin: auto;

    button {
      @extend .btn;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: bold;

      &.popup-notSaved-footer-validate {
        @extend .btn-yellow;
      }
      &.popup-notSaved-footer-cancel {
        float: left;
      }
    }
  }
}

.popup-duplication {
  position: relative;
  top: 20%;
  left: 30%;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 40%;
  text-align: center;
  height: 30%;
  background: rgb(255, 255, 255);

  .popup-header {
    @include make-row();
    text-transform: uppercase;
    color: $color-blue_02;
  }

  h3 {
    @include make-xs-column(11);
    margin-top: 0;
  }
  .popup-yes {
    background-color: #fce285;
    margin: 0px 10px;
    text-align: center;
  }
  .popup-body {
    margin: 20px 0px;
    text-align: center;
  }
}

.custom-modal {
  @extend .modal-container;
  border: 1px solid black;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  width: 400px;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
}

.modal-button {
  background-color: #15417a;
  color: white;
  box-shadow: none;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
}

.alert-triangle {
  position: relative;
  background-color: red;
  text-align: left;
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.alert-triangle:before,
.alert-triangle:after {
  content: '';
  position: absolute;
  background-color: inherit;
}
.alert-triangle,
.alert-triangle:before,
.alert-triangle:after {
  width: 1.2em;
  height: 1.2em;
  border-top-right-radius: 30%;
}

.alert-triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.alert-triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.alert-icon {
  display: block;
  position: relative;
  color: white;
  z-index: 0;
  text-align: center;
  .alert-triangle {
    position: absolute;
    z-index: -5;
    left: 22%;
    top: -5%;
  }

  &.small {
    width: 30px;
    font-size: $font-xs;
    .alert-triangle {
      left: 30%;
    }
    .alert-triangle,
    .alert-triangle:before,
    .alert-triangle:after {
      width: 0.9em;
      height: 0.9em;
    }
  }
  &.big {
    font-weight: bold;
    font-size: $font-l;
    .alert-triangle,
    .alert-triangle:before,
    .alert-triangle:after {
      width: 1.4em;
      height: 1.4em;
    }
  }
}
//response format duration

.response-format-datatype-duree-minimum {
  display: flex;
  .ctrl-input {
    flex-basis: 50%;
  }
}

.response-format-datatype-duree-maximum {
  display: flex;
  .ctrl-input {
    flex-basis: 50%;
  }
}

.response-format-datatype-duree-label-minimum {
  width: 25%;
  font-weight: 700;
}

.response-format-datatype-duree-label-maximum {
  width: 25%;
  font-weight: 700;
}

.loopLists {
  border: none;
  display: flex;
}

.csv-input {
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
  .csv-label {
    margin-right: 25px;
  }
}

.loaderClass {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}

.questionnaire-element-filter {
  margin: 10px;
  width: 35%;
}
.btn-white-filter {
  text-align: center;
  background-color: white;
  border-radius: 0;
  border: 3px solid #15417a;
  font-size: 14px;
  font-weight: 700;
  color: #15417a;
}
.questionnaire-elements {
  display: flex;
}

.question-filter {
  border: 4px solid #e0e0e0 !important;
}

.api-error-message {
  color: grey;
  font-style: italic;
}
