@import '_variables';

h1 {
  font-size: $font-xxxl;
}

h2 {
  font-size: $font-xxl;
}

h3 {
  font-size: $font-xl;
}

h4 {
  font-size: $font-l;
}

h5 {
  font-size: $font-m;
}

h6 {
  font-size: $font-xs;
}
