// Colors

$color-grey_01: #616366;
$color-grey_02: #e0e0e0;
$color-grey_03: #f1f1f1;
$color-blue_01: #15417a;
$color-blue_02: #286ac7;
$color-blue_03: #aac7f0;
$color-white_01: #f7f7f7;
$color-yellow_01: #facb21;

// Font sizes

$font-base: 16px;
$font-xxxl: 28pt;
$font-xxl: 24pt;
$font-xl: 18pt;
$font-l: 15pt;
$font-m: 13.5pt;
$font-s: 12pt;
$font-xs: 10pt;
$font-xxs: 8pt;


// Paths

$path-bootstrap_lib: '~bootstrap-sass/assets/stylesheets/bootstrap/';
