@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";

@import '_variables';
@import '_mixins';
@import '_typo';
@import '_global';

// Common
@import 'inc/_header';
@import 'inc/_forms';
@import 'inc/_form-controls';

// Pages
@import 'inc/_page-home';
@import 'inc/_page-questionnaire';

//Elements
@import 'inc/_user-connection';
@import 'inc/_questionnaire-list';
@import 'inc/_codes-list-new-edit';
@import 'inc/_declarations';
