@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";

@import '_variables';
@import '_mixins';
@import '_typo';
@import '_global';

// Common
@import 'inc/_header';
@import 'inc/_forms';

// Pages
@import 'inc/_page-home';
@import 'inc/_page-questionnaire';

//Elements
@import 'inc/_user-connection';
@import 'inc/_questionnaire-list';
@import 'inc/_declarations';
@import 'inc/component-edition';
@import 'inc/arbo-simplifield';
@import 'inc/confirm-dialog';
@import 'inc/questionnaire-nav';
@import 'inc/generic-input';

//Widgets
@import 'inc/widgets/_statistical-context-criteria';
@import 'inc/widgets/_input-filter-with-criteria';
@import 'inc/widgets/_search-results';
@import 'inc/widgets/_codes-lists';
@import 'inc/widgets/_validation-errors';
@import 'inc/widgets/_search-codes-lists';
@import 'inc/widgets/_tabs';
@import 'inc/widgets/_questionnaire-new-edit';
@import 'inc/widgets/_component-new-edit';

//Controls
@import 'inc/controls/_common';
@import 'inc/controls/_ctrl-with-suggestions';
@import 'inc/controls/_ctrl-textarea';
@import 'inc/controls/_ctrl-rich-textarea';
@import 'inc/controls/_ctrl-input';
@import 'inc/controls/_ctrl-input-autocomplete';
@import 'inc/controls/_ctrl-list-radios';
@import 'inc/controls/_input-condition-popover';
@import 'inc/controls/_icon-button';
@import 'inc/controls/_button-wrap';
@import 'inc/controls/_ctrl-select';
@import 'inc/controls/_ctrl-tree-select';
@import 'inc/controls/_ctrl-list-checkboxes';
