name: Pogues docs publication
on:
  push:
    branches: ['main', '1.*']
    paths:
      - 'docs/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Gitbook Action
        uses: ZanderZhao/gitbook-action@master
        with:
          source_dir: docs
          source_branch: main
          token: ${{ secrets.GITHUB_TOKEN }}
